* {
  margin: 0;
  padding: 0;
  font: georgia;
}

body {
  background-color: grey;
  display: flex;
  flex-direction: column;
}
/*---------------HEADER-------------*/
header {
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.header_titulo {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

.header_titulo h1 {
  color: white;
  font-family: "Sofia";
}
/*---------------fin HEADER-------------*/

/*---------------cuerpo-------------*/
.cuerpo {
  width: 98%;
  margin-left: 1%;
  display: flex;
  flex-direction: column;
  background-color: red;
  margin-top: 10px;
}

.cuerpo_formulario{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 15px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 15px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}




input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 30px 10px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 17px;
}

button{
  width: 100%;
  height: 70px;
  background-color: #4CAF50;
  color: #F3F1E9;
  padding: 10px 10px;
  margin: 15px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type=submit]:hover {
  background-color: #45a049;
}


.formulario_registro{
text-align: center;
}

.formulario_registro h4{
text-align: center;
color: red;
margin-bottom: 10px;
}

/*---------------fin cuerpo-------------*/
/*---------------fin footer-------------*/
footer {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;

}

.footer_legenda{
  text-align: center;
  margin-top: 40px;
}

.footer_legenda h5{
  color: white;
  font-size: 12px;
}
